@using System.Text.Json
@using Shared.Classes.UI

@inject Blazored.LocalStorage.ILocalStorageService localStorage

<section id="aura-section">
    @foreach (var auraGroup in AuraGroups.groups)
    {
        <h3>@auraGroup.Value.heading</h3>
        <ul id="@auraGroup.Key-section">
            @foreach (var aura in auraGroup.Value.auras)
            {
                <li id="@aura.Key" @onclick="@(() => AuraClickHandler(aura.Key))" @onclick:preventDefault="true" data-aura-type="@auraGroup.Key" data-checked="@(AuraGroups.SelectedAuras.Contains(aura.Key) ? "true" : "false")" name="@aura.Key" class="aura @auraGroup.Key">
                    <a href="https://tbc.wowhead.com/@auraGroup.Value.type=@aura.Value.id">
                        <img alt="@aura.Value.name" src="img/@aura.Value.iconName" />
                    </a>
                </li>
            }
        </ul>
    }
</section>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (await localStorage.ContainKeyAsync("auras"))
        {
            var auras = await localStorage.GetItemAsync<string>("auras");
            try
            {
                AuraGroups.SelectedAuras = JsonSerializer.Deserialize<List<string>>(auras);
            }
            catch
            {
                // Backup for old localStorage from before Blazor
                Dictionary<string, bool> aurasDict = JsonSerializer.Deserialize<Dictionary<string, bool>>(auras);
                foreach (var aura in aurasDict)
                {
                    if (aura.Value)
					{
                        AuraGroups.SelectedAuras.Add(aura.Key);
					}
                }
            }
        }
    }

    //todo: optimize
    private async void AuraClickHandler(string auraName)
    {
        foreach (var auraGroup in AuraGroups.groups)
        {
            foreach (var aura in auraGroup.Value.auras)
            {
                if (aura.Key == auraName)
                {
                    // If clicking an aura that isn't currently selected and it's a battle/guardian elixir, potion, weapon oil etc. then de-select all others that also have that property
                    if (!AuraGroups.SelectedAuras.Contains(auraName) && (aura.Value.drum || aura.Value.alcohol || aura.Value.battleElixir || aura.Value.guardianElixir || aura.Value.potion || aura.Value.demonicRune || aura.Value.weaponOil || aura.Value.foodBuff))
                    {
                        foreach (var subAuraGroup in AuraGroups.groups)
                        {
                            foreach (var subAura in subAuraGroup.Value.auras)
                            {
                                if (aura.Key != subAura.Key && ((aura.Value.drum && subAura.Value.drum) || (aura.Value.alcohol && subAura.Value.alcohol) || (aura.Value.battleElixir && subAura.Value.battleElixir) || (aura.Value.guardianElixir && subAura.Value.guardianElixir) || (aura.Value.potion && subAura.Value.potion) || (aura.Value.demonicRune && subAura.Value.demonicRune) || (aura.Value.weaponOil && subAura.Value.weaponOil) || (aura.Value.foodBuff && subAura.Value.foodBuff)))
                                {
                                    AuraGroups.SelectedAuras.Remove(subAura.Key);
                                }
                            }
                        }
                    }
                    if (!AuraGroups.SelectedAuras.Contains(aura.Key))
                    {
                        AuraGroups.SelectedAuras.Add(aura.Key);
                    }
                    else
                    {
                        AuraGroups.SelectedAuras.Remove(aura.Key);
                    }
                    await localStorage.SetItemAsync("auras", AuraGroups.SelectedAuras);
                    return;
                }
            }
        }
    }
} 