@using Shared.Classes.UI

<table id="item-selection-table" data-type="mainhand" class="tablesorter" data-sortlist='[[11,1]]'>
    <colgroup id="item-selection-colgroup">
        <col style="width: 20%">
        <col style="width: 4%">
        <col style="width: 13%">
        <col style="width: 3%">
        <col style="width: 3%">
        <col style="width: 5%">
        <col style="width: 6.5%">
        <col style="width: 4.5%">
        <col style="width: 3%">
        <col style="width: 3%">
        <col style="width: 3%">
        <!--<col style="width: 4%">-->
        <col style="width: 8%">
    </colgroup>
    <thead>
        <tr id="item-selection-header">
            <th id="header-name">Name</th>
            <th id="header-gems"></th>
            <th id="header-source">Source</th>
            <th id="header-stamina">Stam</th>
            <th id="header-intellect">Int</th>
            <th id="header-spell-power">Spell Power</th>
            <th id="header-shadow-power">Shadow Power</th>
            <th id="header-fire-power">Fire Power</th>
            <th id="header-crit">Crit</th>
            <th id="header-hit">Hit</th>
            <!--<th id="header-mp5">MP5</th>-->
            <th id="header-haste">Haste</th>
            <th id="header-dps">DPS</th>
        </tr>
    </thead>
    <tbody aria-live='polite'>
        @foreach (var item in Items.itemSlots["head"].items)
		{
        <tr class="item-row" data-subslot="1" data-socket-bonus-active="false" data-slot="head" data-name="@item" data-selected="false" data-wowhead-id="@item.Value.id">
            <td><a href="https://tbc.wowhead.com/item=@item.Value.id">@item.Value.name</a></td>
            <td></td> <!-- Sockets -->
            <td>@item.Value.source</td>
            <td>@(item.Value.stamina > 0 ? item.Value.stamina : "")</td>
            <td>@(item.Value.intellect > 0 ? item.Value.intellect : "")</td>
            <td>@(item.Value.spellPower > 0 ? item.Value.spellPower : "")</td>
            <td>@(item.Value.shadowPower > 0 ? item.Value.shadowPower : "")</td>
            <td>@(item.Value.firePower > 0 ? item.Value.firePower : "")</td>
            <td>@(item.Value.spellCritRating > 0 ? item.Value.spellCritRating : "")</td>
            <td>@(item.Value.spellHitRating > 0 ? item.Value.spellHitRating : "")</td>
            <td>@(item.Value.spellHasteRating > 0 ? item.Value.spellHasteRating : "")</td>
            <td></td>
        </tr>
		}
    </tbody>
</table>