@using Shared.Classes.UI
@using Pages
@page "/"

<p id="pet-wip-note">This sim is still a work in progress (especially pets!). Please report bugs to the warlock Discord or PM me at Kristofer#8003</p>
<div>
    <Auras />
    <Rotation />
    <SimSettings />
    <Talents />

    <section class="close-button-target" id="stat-weights-section" style="display: none;">
        <div>
            <h2 style="display: inline-block;">Stat Weights</h2>
            <a href='#' class='close' id='stat-weight-close-button'></a>
        </div>
        <ul class="character-stats" id="stat-weights">
            <li>
                <p class="character-stat">Intellect</p>
                <p id="stat-weight-intellect" class="character-stat-val">0</p>
            </li>
            <li>
                <p class="character-stat">Spell Power</p>
                <p id="stat-weight-spellPower" class="character-stat-val">0</p>
            </li>
            <li>
                <p class="character-stat">Shadow Power</p>
                <p id="stat-weight-shadowPower" class="character-stat-val">0</p>
            </li>
            <li>
                <p class="character-stat">Fire Power</p>
                <p id="stat-weight-firePower" class="character-stat-val">0</p>
            </li>
            <li>
                <p class="character-stat">Hit Rating</p>
                <p id="stat-weight-hitRating" class="character-stat-val">0</p>
            </li>
            <li>
                <p class="character-stat">Crit Rating</p>
                <p id="stat-weight-critRating" class="character-stat-val">0</p>
            </li>
            <li>
                <p class="character-stat">Haste Rating</p>
                <p id="stat-weight-hasteRating" class="character-stat-val">0</p>
            </li>
            <li>
                <p class="character-stat">Mp5</p>
                <p id="stat-weight-mp5" class="character-stat-val">0</p>
            </li>
            <li id="pawn-import-string">
                <p></p>
            </li>
        </ul>
    </section>

    <!-- Damage Breakdown Table -->
    <section class="breakdown-section" id="damage-breakdown-section">
        <table class="breakdown-table tablesorter" id="damage-breakdown-table" data-sortlist='[[1,1]]'>
            <thead>
            <th>Name</th>
            <th>Damage</th>
            <th>Casts</th>
            <th>Avg Cast</th>
            <th>Crit %</th>
            <th>Miss %</th>
            <th id='damage-breakdown-dodge'>Dodge %</th>
            <th id='damage-breakdown-glancing'>Glancing %</th>
            <th>Dps</th>
            </thead>
            <tbody></tbody>
        </table>
    </section>
    <!-- Mana Gain Breakdown Table -->
    <section class="breakdown-section" id="mana-gain-breakdown-section">
        <table class="breakdown-table tablesorter" id="mana-gain-breakdown-table" data-sortlist='[[1,1]]'>
            <thead>
            <th>Name</th>
            <th>% Of Total Gain</th>
            <th>Casts</th>
            <th>Avg Cast</th>
            </thead>
            <tbody></tbody>
        </table>
    </section>
    <!-- Aura Breakdown Table -->
    <section class="breakdown-section" id="aura-breakdown-section">
        <table class="breakdown-table tablesorter" id="aura-breakdown-table" data-sortlist='[[2,1]]'>
            <thead>
            <th>Name</th>
            <th>Count</th>
            <th>Uptime</th>
            </thead>
            <tbody></tbody>
        </table>
    </section>
</div>

<!-- COMBAT LOG -->
<div id="combat-log"></div>

<!-- IMPORT/EXPORT -->
<div id="import-export-window" class="close-button-target" style="display: none;">
    <!--<a href='#' class='close' id='import-export-close-button'></a>-->
    <textarea></textarea>
    <br>
    <button id="import-button">Import</button>
    <button id="export-button">Export</button>
    <button id="export-close-button">Close</button>
</div>

<!-- ITEMS -->
<!-- Gem Selection Table -->
<table id="gem-selection-table" cellspacing="0" data-color='none' style="visibility: hidden;"></table>

<div id="item-selection-container">
    <div id="profiles-and-sources">
        <fieldset id="profile-fieldset">
            <legend>Profile Options</legend>
            <input placeholder='E.g. "Destruction (Fire)"' type="text" name="profileName">
            <button id="save-new-profile-button">Save New Profile</button>
            <div id="update-profile-div">
                <button style="display: none;" id="save-profile-button">Save</button>
                <button style="display: none;" id="delete-profile-button">Delete</button>
                <button style="display: none;" id="rename-profile-button">Rename</button>
                <button id="import-export-button">Import/Export</button>
            </div>
        </fieldset>

        <fieldset id="saved-profiles" style="display: none;">
            <legend>Saved Profiles</legend>
            <ul></ul>
        </fieldset>

        <fieldset id="source-filters">
            <legend>Sources</legend>
            <ul>
                <li data-checked='false' data-source='phase' data-value='0'>Classic</li>
                <li data-checked='false' data-source='phase' data-value='1'>P1</li>
                <li data-checked='false' data-source='phase' data-value='2'>P2</li>
                <li data-checked='false' data-source='phase' data-value='3'>P3</li>
                <li data-checked='false' data-source='phase' data-value='4'>P4</li>
                <li data-checked='false' data-source='phase' data-value='5'>P5</li>
            </ul>
        </fieldset>
    </div>

    <ul id="item-slot-selection-list">
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.MAINHAND))">Main Hand</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.OFFHAND))">Off Hand</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.TWOHAND))">Two Hand</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.HEAD))">Head</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.NECK))">Neck</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.SHOULDERS))">Shoulders</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.BACK))">Back</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.CHEST))">Chest</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.BRACERS))">Bracer</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.GLOVES))">Gloves</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.BELT))">Belt</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.LEGS))">Legs</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.BOOTS))">Boots</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.RING))">Ring 1</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.RING))">Ring 2</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.TRINKET))">Trinket 1</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.TRINKET))">Trinket 2</li>
        <li @onclick="@(() => ItemSlotClickHandler(ItemSlots.WAND))">Wand</li>
    </ul>
    <button id='gem-options-button'>Fill Item Sockets</button>
    <div id='gem-options-window'>
        <div id='gem-options-window-replacement-options'>
            <input type="radio" name='gem-replacement-option' value='emptySockets' checked />
            <label for='emptySockets'>Fill empty sockets</label>
            <input type="radio" name='gem-replacement-option' value='allSockets' />
            <label for='allSockets'>Fill all sockets (replaces equipped gems)</label>
        </div>
        <div id='gem-options-window-item-slot'>
            <input type='radio' name='item-slot' value='currentSlot' checked />
            <label for='currentSlot'>Current item slot</label>
            <input type='radio' name='item-slot' value='allItems' />
            <label for='allItems'>All item slots</label>
        </div>
        <div id='gem-options-window-socket-selection'>
            <input type="radio" name="socket-selection" value='meta'>
            <label for='metaSockets'>Meta Sockets</label>
            <input type="radio" name="socket-selection" value='red' checked>
            <label for='redSockets'>Red Sockets</label>
            <input type="radio" name="socket-selection" value='blue'>
            <label for='blueSockets'>Blue Sockets</label>
            <input type="radio" name="socket-selection" value='yellow'>
            <label for='yellowSockets'>Yellow Sockets</label>
        </div>
        <div id='gem-options-gem-list'></div>
        <button id='gem-options-apply-button'>Apply</button>
    </div>
    <ItemsTable ItemSlot="@ItemSlots.HEAD" />
    <EnchantsTable />
</div>

@code {
    private void ItemSlotClickHandler(string itemSlot)
    {
        Items.LoadItemsBySlot(itemSlot);
    }
}